
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; 
    background-color: rgb(255, 255, 255); 
          z-index: 1;
  }
  .active {
    color: #007838; /* Change the text color */
    background-color: #ffffff; /* Change the background color */
    font-weight: bold; /* Make the text bold */
  }
.graffiti-text {
  font-family: 'Bungee Spice', sans-serif; 
  font-size: 5rem;
justify-content: center;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}
.navbar-brand {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: rgb(13, 5, 5); 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}
.category {
  margin-right: 20px;
  font-size: 1.5rem;
  color: #007838; /* Change the color to whatever you prefer */
}

.category:hover {
  color: #82dead;
}